@font-face {
  font-family: 'NanumGothic';
  src: url('./NanumGothic.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'NanumGothic';
  background: url('./icon.svg');
}